<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>敬请期待｜dolink.co</title>
<style media="screen" type="text/css">

html, body, div, object, h2
{
  margin: 0; 
  padding: 0;
  border: 0; 
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent 
}

h2
{
  font-family: Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal; 
  color: #ffa700; 
  font-size: 18px; 
  line-height: 20px; 
  margin-bottom: 2px 
}

a:link, a:visited, a:hover, a:active
{
  text-decoration: none; 
  color: #ffa802 
}

a:hover { text-decoration: underline }
body { background:#a11313}
#content { position: absolute; left: 50%; top: 50%; text-align: center; width: 708px; height: 100px; margin: -50px 0 0 -354px}
#content h2 { color:#fff; font: bold 43px/58px Arial; margin-bottom: 10px; text-shadow: 0 1px 1px #000}
#content a:link,
#content a:visited { color:#d4d4d4; font: bold 23px/25px Arial}

</style>
<style type="text/css"></style><style id="style-1-cropbar-clipper">/* Copyright 2015 Dolink Co. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

<body data-pinterest-extension-installed="cr1.37">
  <div id="content">
    <h2>敬请期待</h2>
    <a href="http://dolink.co/#">dolink.co</a>
  </div>


</body></html>